<h1>Users</h1>

<div>
  <form (submit)="add(userName.value); userName.value=''">
    <label>User name:</label>
    <input #userName/>
    <button type="submit">
      Add
    </button>
  </form>
</div>

<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span>
    <span>{{user.name}}</span>
    <button class="delete"
            (click)="remove(user); $event.stopPropagation()">x
    </button>
  </li>
</ul>

<div *ngIf="selectedUser">
  <h2>
    {{selectedUser.name | uppercase}} is my user
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<hr>
<hr>

<div>
  For hot module reloading run
  <pre>npm run start:hmr</pre>
</div>
<pre>this.localState = {{ localState | json }}</pre>
