<h2>My Heroes</h2>

<div>
  <form (submit)="add(heroName.value); heroName.value=''">
    <label>Hero name:</label>
    <input #heroName/>
    <button type="submit">
      Add
    </button>
  </form>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
            (click)="delete(hero); $event.stopPropagation()">x
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>



<h1>users</h1>
<div>
  For hot module reloading run
  <pre>npm run start:hmr</pre>
</div>
<div>
  <h3>
    patrick@AngularClass.com
  </h3>
</div>
<pre>this.localState = {{ localState | json }}</pre>
